.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.container h2{
  color: var(--color-primario)
}

.underline{
  color: var(--color-secundario);
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 16px;
  }
}
