.container{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.container h2{
  color: var(--color-primario)
}

.underline{
  color: var(--color-primario);
}