:root {
  --color-primario: #bf3945;
  --color-secundario: #bf364f;
  --color-terciario: #732432;
  --color-cuarto: #d9b4bb;
  --color-quinto: #151626;
  --color-hover: #575757;
  --colores: #ff0000, #00ff00, #0000ff;
}



body,
html {
  margin: 30px;
  padding: 0;
  background-color: black;
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 2;
}
