/* Estilos base */
.imagenes {
  display: flex;
  justify-content: center;
  padding: 40px;
  flex-wrap: wrap;
  border-radius: 20px;
  border: 2px solid var(--color-cuarto);
}

.Image {
  padding: 30px;
  margin: 20px;
  background-color: rgb(43, 42, 42);
  border: 2px solid var(--color-cuarto);
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.Image:hover {
  background-color: #807e7e;
  transform: scale(1.2);
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1{
  color: var(--color-secundario)
}

/* Media queries para hacer la sección responsive */
@media screen and (max-width: 768px) {
  .imagenes {
    padding: 20px;
  }
  
  .Image {
    padding: 20px;
    margin: 10px;
  }
}

@media screen and (max-width: 480px) {
  .imagenes {
    padding: 10px;
  }
  
  .Image {
    padding: 10px;
    margin: 5px;
  }
}
